/*! Place your custom styles here */
/* modify vertical scroll page make border radius and color #4a90e2 */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    background: #4a90e2;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background: #29507d;
}

/* make background-gradient bg gradient from dark to light from left to right */
.background-gradient-custom {
    display: block;
    width: 100%;
    height: 100%;
    z-index: 12;
    background: linear-gradient(90deg, #0E0E0E 40%, #FEFEFE00 60%) !important;
    opacity: .75;
}